USE [master]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[viraBackup] 
@databaseName VARCHAR(256), -- Databace name for backup files
@path VARCHAR(256) -- path for backup files
AS
BEGIN
DECLARE @fileName VARCHAR(256) -- filename for backup 
DECLARE @fileDate VARCHAR(20) -- used for file name
SELECT @fileDate = CONVERT(VARCHAR(20),GETDATE(),112)
SET @fileName = @path + @databaseName + '_' + @fileDate + '.BAK' 
BACKUP DATABASE @databaseName TO DISK = @fileName 
END


